@tailwind base; 
@tailwind components;
@tailwind utilities;
/* gloable */
::-webkit-scrollbar{
    width: 0px;/*竖向滚动条的宽度*/
    height: 0px;
}
/* layOut */
.page-container {
    @apply h-screen text-center bg-black;
}
/* Design System */
.title-primary {
    @apply text-white font-[700] text-[40px] drop-shadow-title;
}

/* components */
/* Btn */
.base-btn {
    @apply w-[136px] h-[48px] rounded-[3px] text-white;
}
.primary-btn {
    @apply base-btn bg-[#64C4F9];
}
.secondary-btn {
    @apply base-btn bg-[#0A4E74];
}
/* indecate */
.indecate {
    @apply w-[10px] h-[10px] rounded-full bg-white cursor-pointer mb-3; 
}
.indecate.active {
    @apply bg-[#46BDFF]
}
/* divider */
.divider-line-base {
    @apply w-full h-[1px];
}
.divider-line-to-right {
    background: linear-gradient(90deg, #FFE603 0%, #FFFFFF 23.96%, #FFE603 57.81%, #000000 81.25%, #000000 100%);
    @apply divider-line-base;
}
.divider-line-to-left {
    background: linear-gradient(270deg, #FFE603 0%, #FFFFFF 23.96%, #FFE603 57.81%, #000000 81.25%, #000000 100%);
    @apply divider-line-base;
}
/* TheHeader */
.the-header {
    @apply h-[90px] bg-transparent text-white flex justify-center items-center;
}
.the-header li {
    @apply mr-14
}
/* cards */
.system-card {
    @apply w-[304px] h-[420px];
}

/* util */
.absolute-x-center {
    @apply left-1/2 translate-x-[-50%];
}
.absolute-y-center {
    @apply top-1/2 translate-y-[-50%];
}