/* TheHeader */
.the-header {
    @apply w-full hidden py-4 z-[2] md:block;
}
.the-header-ul {
    @apply max-w-[1000px] mx-auto flex justify-around items-center;
}

/* -------------------------------
tansitionã€animate
------------------------------- */

/* mobile header panel animate */
.headerFade-enter-active,
.headerFade-leave-active {
    @apply transition-all duration-500 ease-in;
}

.headerFade-enter-from,
.headerFade-leave-to {
    @apply opacity-0 translate-x-[500px];
}